{% extends 'layout.html' %}

{% block main %}
    <div class="d-flex flex-column ">
        <h1 class="p-4 mx-auto">Checking Balance</h1>
        <h3 class="p-4 mx-auto">${{checkBalance}}</h3>
    </div>
    <div class="row d-flex flex-row justify-content-center align-items-center">
        <div>
            <a class="btn-lg btn-success m-2" href="/deposits">
                <span class="mx-auto">Deposit to Account</span>
            </a>
        </div>
        <div>
            <a class="btn-lg btn-warning m-2" href="/expenses">
                <span>Enter an Expense</span>
            </a>
        </div>
    </div>
{% endblock %}