{% extends 'layout.html' %}

{% block main %}
    <form action="/expenses" method="POST">
        <div class="d-flex flex-column justify-content-center col-md-4 offset-md-4">
            <div class="input-group p-3">
                <!-- <label for="amount"></label> -->
                <span class="input-group-text">Amount: $</span>
                <input class="form-control" type="number" name="amount" required="True">
            </div>
            <div class="input-group p-3">
                <!-- <label for="date">Date</label> -->
                <span class="input-group-text">Date:</span>
                <input class="form-control" type="date" name="date" required="True">
            </div>
            <div class="input-group p-3">
                <!-- <label for="savingPercent">Savings %</label> -->
                <span class="input-group-text">Category:</span>
                <select class="form-select">
                    <option selected>Choose a Category</option>
                    <option value="1">Housing</option>
                    <option value="2">Transportation</option>
                    <option value="3">Food</option>
                    <option value="4">Utilities</option>
                    <option value="5">Insurance</option>
                    <option value="6">Medical Expenses/Healthcare</option>
                    <option value="7">Investing/Debt Payments</option>
                    <option value="8">Recreation/Entertainment</option>
                    <option value="9">Clothing</option>
                    <option value="10">Miscellaneous</option>
                  </select>
            </div>
            <div class="input-group p-3">
                <button type="submit" class="btn btn-primary">Add an Expense</button>
            </div>
        </div>
    </form>
{% endblock %}