{% extends 'layout.html' %}

{% block script %}
<script>
    function setDate() {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        if(dd<10){
                dd='0'+dd
            } 
            if(mm<10){
                mm='0'+mm
            } 

        today = yyyy+'-'+mm+'-'+dd;
        document.getElementById("dateField").setAttribute("max", today);
    }
</script>
{% endblock %}

{% block main %}
    <form action="/expenses" method="POST">
        {% if statusMessage %}
            <div class="alert alert-success">
                {{ statusMessage }}
            </div>
        {% endif %}
        <div class="d-flex flex-column justify-content-center col-md-4 offset-md-4">
            <div class="input-group p-3">
                <!-- <label for="amount"></label> -->
                <span class="input-group-text">Amount: $</span>
                <input class="form-control" type="number" name="amount" required="True">
            </div>
            <div class="input-group p-3">
                <!-- <label for="date">Date</label> -->
                <span class="input-group-text">Date:</span>
                <input class="form-control" type="date" name="date" id="dateField" min="1900-01-01" max="2021-12-31" required="True">
            </div>
            <div class="input-group p-3">
                <!-- <label for="savingPercent">Savings %</label> -->
                <span class="input-group-text">Category:</span>
                <select class="form-select form-control" name="categories">
                    <option selected>Choose a Category</option>
                    <option value="1">Housing</option>
                    <option value="2">Transportation</option>
                    <option value="3">Food</option>
                    <option value="4">Utilities</option>
                    <option value="5">Insurance</option>
                    <option value="6">Medical Expenses/Healthcare</option>
                    <option value="7">Investing/Debt Payments</option>
                    <option value="8">Recreation/Entertainment</option>
                    <option value="9">Clothing</option>
                    <option value="10">Miscellaneous</option>
                  </select>
            </div>
            <div class="input-group p-3">
                <button type="submit" class="btn btn-primary">Add an Expense</button>
            </div>
        </div>
    </form>
{% endblock %}