{% extends 'layout.html' %}

{% block main %}
<div class="d-flex justify-content-center align-items-center">
    <h1 class="p-4" style="font-family: 'Londrina Solid', cursive;">
        Teen Budgeting App
    </h1>
</div>
<div class="d-flex justify-content-center align-items-center">
    <div class="w-75 row">
        <div class="col">
            <p>
                This app is a way for you to get into the habit of automatically saving a portion of your money for a variety of things.
            </p>
        </div>
        <div class="col">
            <h4 class="m-2 mx-auto">Easy WorkFlow</h4>
            <p><b>Step 1:</b>Add Paychecks & Gifts to Checking Account</p>
            <p>A percentage is automatically added to your Savings Account</p>
            <p><b>Step 2:</b></p>
        </div>
    </div>
</div>
{% endblock %}