{% extends 'layout.html' %}

{% block main %}
    {% if status %}
    <div class="alert alert-warning">
        {{ status }}
    </div>
    {% endif %}
    <form action="/login" method="POST">
        <div class="container">
            <div class="d-flex flex-column justify-content-center align-items-center col-md-3 offset-md-4">
                <div class="input-group p-3">
                    <span class="input-group-text">Username:</span>
                    <input class="form-control" type="text" name="amount" required="True">
                </div>
                <div class="input-group p-3">
                    <span class="input-group-text">Password</span>
                    <input class="form-control" type="password" name="password">
                </div>
                <div class="input-group p-3">
                    <button type="submit" class="btn btn-secondary">Login</button>
                </div>
                <div class="input-group p-3">
                    <a class="fs-6 fw-bold" href="/register">Don't have an account? Register Here!</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}