{% extends 'layout.html' %}

{% block main %}
    <div class="d-flex flex-column">
        <h1 class="p-4 mx-auto">Savings Balance</h1>
        <h3 class="p-4 mx-auto">${{savingBalance}}</h3>
    </div>
    <div class="container row">
        {% for date in milestone %}
            {% if loop.index == 1 %}
                <div class="p-4">
                    <p>You first started saving on {{date}}</p>
                </div>
            {% elseif loop.index == 2 %}
                <div class="p-4">
                    <p>You reached $50 in savings on {{date}}</p>
                </div>
            {% elseif loop.index == 3 %}
                <div class="p-4">
                    <p>You reached $100 in savings on {{date}}</p>
                </div>
            {% elseif loop.index == 4 %}
                <div class="p-4">
                    <p>You reached $200 in savings on {{date}}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}