{% extends 'layout.html' %}

{% block main %}
    <div class="d-flex flex-column">
        <h1 class="p-4 mx-auto">Savings Balance</h1>
        <h3 class="p-4 mx-auto">${{savingBalance}}</h3>
    </div>
    <div class="container flex column justify-content-center align-items-center">
        <div class="card p-4">
            <h6 class="card-title">Beginnings</h6>
            <div class="card-body">
                <p class="card-text">You first started saving on {{firstSavingsDate['date']}}</p> 
            </div>
        </div>
        {% for date in milestones %}
            {% if loop.index == 1 %}
                <div class="card p-4">
                    <h6 class="card-title">Milestone 1</h6>
                    <div class="card-body">
                        <p class="card-text">Reached $50 on: {{date}}</p>
                    </div>
                </div>
            {% elif loop.index == 2 %}
                <div class="card p-4">
                    <h6 class="card-title">Milestone 2</h6>
                    <div class="card-body">
                        <p class="card-text">Reached $100 on: {{date}}</p>
                    </div>
                </div>
            {% elif loop.index == 3 %}
                <div class="card p-4">
                    <h6 class="card-title">Milestone 3</h6>
                    <div class="card-body">
                        <p class="card-text">Reached $200 on: {{date}}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="card p-4">
            <h6 class="card-title">Latest Milestone</h6>
            <div class="card-body">
                <p>You reached your current savings balance on {{lastSavingsDate['date']}}</p>
            </div>
        </div>
    </div>
{% endblock %}